body{
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 900px;
}

.topnav{
    overflow: hidden;
    background-color: burlywood;
}

.topnav a {
    float: right;
    color: white;
    text-align:right;
    padding: 20px ;
    text-decoration: none;
    font-size: 14px;
}

.foot {
    overflow: hidden;
    background-color: burlywood;
}

.foot a {
    height: 50px;
    width: auto;
    float: left;
    color: white;
    text-align:right;
    padding: 14px;
    text-decoration: none;
    font-size: 14px;
}

.vid {
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    position: relative;

}

img.pic {
    width: 250px;
    height: 230px;
}

img.align-right{
    float: right;
    margin-left: 12px;
}

section{
    border: 10px solid black;
    height: 90vh;
}

.about {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    color: black;
}

.button {
    float: none;
    max-width: 12px;
}